  body {
      color: rgb(0, 0, 0);
      background-color: unset;
      display: inline-block;
  }
/* Header styling*/

#top-level-nav {
  border-color:#ccc;
  border-style:solid;
  border-width:0;
  left:0;
  padding:0;
  margin:0;
  position:relative;
  top:2px;
  width:100%;
  background:linear-gradient(to bottom, #777,#000);
  background-color:#333;
  color:#eee;
  display:inline-block;
  }
#top-level-nav li {
  border-left:1px solid #ccc;
  float:left;
  margin: 0;
  background:linear-gradient(to bottom, #777,#000);
  background-color:#333;
  list-style-type:none;
  font-size:0.85em;
  }
#top-level-nav li:first-child {
  border-left: 0;
  float:left;
  background:linear-gradient(to bottom, #777,#000);
  background-color:#333;
  }
#top-level-nav li a {
  color:#ccc;
  display:block;
  padding:4px 3px 3px;
  text-decoration:none;
  }
#top-level-nav li a:hover {
  background-color:#f6f6f6;
  border:0;
  color:#000;
  }
#portal-header {
  position:relative;
  display:inline-block;
  left:0px;
  width:100%;
  padding:5px 0px 3px 0px;
  border-bottom:solid;
  border-bottom-color:#eee;
  border-bottom-width:1px;
  margin-bottom:8px;
  }
#portal-logo img {
  display:inline-block;
  vertical-align:middle;
  box-shadow: 2px 2px 2px #ccc;
  }
#page-title {
    display:inline-block;
    margin:5px 1px 1px 5px;
    width:100%;
    text-align:center;
  }
.title-text {
    font-size:2em;
    font-weight:bold;
}

#display {
      display:inline-block;
      border:solid;
      border-width:1px;
      border-color:grey;
      height:auto;
  }

  #Jmol_div {
      position:relative;
      /*display:inline-block;*/
      float:left;
      padding:0;
      top:5px;
      border:solid;
      border-color:gray;
      border-width:1px;
      width:30%;
      min-width:300px;
  }

  #Jmol_button_div {
      position: relative;
      /*display:inline-block;*/
      padding: 2px;
      overflow: scroll;
      max-height: 350px;
  }
  .subtitle-text {
      width:100%;
      font-weight:bold;
      text-align:center;
      font-size:1.5em;
  }
  .explanation-text {
      margin:2px;
  }
  .example-table {      
      text-align:center;
      border-top-width:1px;
      border-left-width:1px;
      border-bottom-width:1px;
      border-right-width:1px;
      border-spacing:2px;
      border-collapse:separate;
      border-color:grey;
      border-style:inset;
      display:table-cell;
  }
  .example-table td {      
      text-align:center;
      border-top-width:1px;
      border-left-width:1px;
      border-bottom-width:1px;
      border-right-width:1px;
      border-spacing:2px;
      border-collapse:separate;
      border-color:grey;
      border-style:inset;
      display:table-cell;
  }
   #JmolApp {
    display:inline-block;
    width:49%;
    min-width: 290px;
    aspect-ratio: 1/1;
   max-height: 100%;
  }
  .content_container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: 85vh;
  }
  .mol-shape {
    display:inline-flex;
    flex-wrap: wrap;
    border-style:outset;
    min-width: 290px;
    width: 49%;
    max-height: 100%;
    overflow: scroll;
  }
  @media (max-width: 600px){
  #JmolApp {
    width:100%;
    min-width: 300px;
  }
  .mol-shape {
    min-width: 300px;
    width: 100%;
  }
  }
  /* Footer */
  .update-info {
      text-align:right;
      font-size:0.5em;
      width:100%
  }
/* Popup */
.popdiv {
  display:inline-block;
  position: fixed;
  top: 5%;
  left: 25%;
  width:50%;
  align-content: center;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  background-color: white;
  overflow: scroll;
  z-index: 9003;
}
.close-icon {
  float: right;
  border-radius: 10px;
}
.hidden {
  display: none;
}
.visible {
  display: inline-block;
}
div .container_inline_flex{
    display: inline-flex;
}
div .Lewis-structure {
    border-style: groove;
    text-align: center;
}

  /* Accordion */
.transition, div, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}

/*.flipIn, ul li, h1 {
  animation: flipdown 0.5s ease both;
}*/

/*.no-select, h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/
#controls ul {
  position: relative;
    top:0px;
    list-style: none;
  width: 98%;
  padding: 0;
  margin: 0;
}
#controls li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 4px;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}
/*ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
ul li:nth-of-type(3) {
  animation-delay: 1s;
}*/
#controls ul li:last-of-type {
  padding-bottom: 0;
}
#controls ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 2px;
  right: 0;
}
#controls ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
#controls ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
#controls ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
#controls ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
    touch-action: manipulation;
}
#controls ul li input[type=checkbox]:checked ~ .accordion-contents{
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
    display:none;
}
.accordion-contents{
    position: relative;
    overflow: hidden;
    z-index:2;
    display: inline;
}

div .accordion-contents input{
    display:inline-flex!important;
    position: revert!important;
    opacity: revert!important;
    width: revert!important;
    height: revert!important;
    margin: 8px!important;
}

div .accordion-contents select{
    display: inline-flex;
    position: revert!important;
    opacity: revert!important;
    width: revert!important;
    height: revert!important;
    margin:8px!important;
}

#controls ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#controls ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
